.stats{
  padding-left:64px;
  padding-right:64px;
  padding-top:50px;
  padding-bottom:150px;
  background-color: rgb(255, 227, 247);
  text-align: center;
}

.pinkfooter{
  background-color: rgb(255, 227, 247);
  padding: 100px;
}
