.stats{
  padding-left:64px;
  padding-right:64px;
  padding-top:50px;
  padding-bottom:150px;
  background-color: rgb(255, 227, 247);
  text-align: center;
}

.pinkfooter{
  background-color: rgb(255, 227, 247);
 position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
